@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,600);
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
  margin: 0; 
  background-color: rgb(5, 5, 15);
  font-family: 'Orbitron', sans-serif;
}
.frame-wrapper {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 20px;
  border: 1px dashed rgb(83, 82, 90);
  .left-up-resize {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .right-up-resize {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: 900px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .left-down-resize {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -5px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .right-down-resize {
    cursor: pointer;
    touch-action: none;
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }

}


.title{
  left : 30px;
  bottom: 50px;
  width: 250px;
  font-size: 16px;
  position: absolute;
  color: rgb(134, 136, 143);
}

.colormap{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 150px;
}

.color-picker{
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: 40px;
  width: 170px;
  cursor: pointer;
  height: 170px;
}
.color-selected{
  top: 55px;
  left: 190px;
  position: absolute;
  width: 20px;
  border-radius: 30px;
  height: 20px;
  background-color: wheat;
  border: 1px solid wheat;
}

.tool-bar-wrapper{
  top: 25px;
  left: 250px;
  z-index: 100;
  position: absolute;
  font-size: 12px;
  display: flex;
  height: 30px;
  .tool-bar-item{
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
    color: #fff;
    padding-top: 5px;

    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    text-align: center;
    height: 25px;
  }
}

.sphere-light-wrapper{
  z-index: 100;
  padding: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 300px;
  left: 300px;
  &.selectable{
    touch-action: none;
    border: 1px dashed wheat;
  }
  .sphere-light{
    z-index: 100;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
  }
}